/* iChatBot Styles --------------------------------- */

.ichatbot {
  border: 1px solid #b0b0b0;
  bottom: 5px;
  display: none;
  position: fixed;
  right: 30px;
  font-family: 'Open Sans', sans-serif;
}

/* Floating Icon Styles ---------------------------- */

.ichatbot-floating-icon {
  z-index: -1;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.ichatbot-show {
  display: block !important;
}

/* Header Styles --------------------------------- */

.ichatbot-header {
  margin: 10px;
  font-size: 20px;
}

.ichatbot-header a {
  text-decoration: none;
}

/* Container Styles --------------------------------- */

.ichatbot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--bs-gutter-x, .50rem);
}

.ichatbot-chat {
  height: 100%;
  width: 100%;
}

.ichatbot-chat-inner-div {
  overflow: scroll;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
}

.ichatbot-chat-inner-div::-webkit-scrollbar {
  display: none;
}

/* Query Options Styles --------------------------------- */

.ichatbot-options {
  clear: both;
}

.ichatbot-options>a {
  display: inline-block;
}

.ichatbot-options span {
  margin: 5px;
}

.ichatbot-footer {
  margin: 0px;
  padding: 0px 10px 10px 10px;
}

.ichatbot-button {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  cursor: pointer;
}

.ichatbot-disabled-buttons {
  opacity: 0.4;
  pointer-events: none;
}

/* User Input Styles --------------------------------- */

.ichatbot-userinput {
  display: block;
  width: 98%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.ichatbot-userinput:focus {
  outline: none;
}

.ichatbot-userinput:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.ichatbot-char-count {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 2px;
}

.ichatbot-error-msg {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 2px;
  color: rgb(223, 21, 21);
}

.ichatbot-userinput-template {
  padding: 5px;
}

.ichatbot-userinput-template i {
  margin-right: 5px;
}

.ichatbot-userinput-error {
  box-shadow: 0 0 1px 0.07rem rgb(255, 0, 0) !important;
}

/* Loader Styles ---------------------------------------- */

.ichatbot-loader {
  border: 5px solid black;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* General Styles --------------------------------------- */

​​​​​ .pad-right-5px {
  padding-right: 5px;
}

.mar-top-bottom-5px {
  margin: 5px 0px 5px 0px;
}

.mar-right-5px {
  margin-right: 5px;
}

.mar-left-5px {
  margin-left: 5px;
}

.mar-top-3px {
  margin-top: 3px;
}

.mar-left-right-7px {
  margin-left: 7px;
  margin-right: 7px;
}

.font-bold-true {
  font-weight: bold;
}

.justify-content-start {
  justify-content: flex-start!important;
}

.justify-content-end {
  justify-content: flex-end!important;
}

.justify-content-center {
  justify-content: center!important;
}

.d-flex {
  display: flex!important;
}

.float-start {
  float: left!important
}

.float-end {
  float: right!important;
}

.blue-color {
  color: #23a9c4!important;
}

.background-blue-color {
  background-color: #23a9c4!important;
}