body {
  font-family: 'Open Sans', sans-serif;
}

.ichatbot-floating-icon {
  z-index: -1;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.ichatbot-show {
  display: block !important;
}

.ichatbot-header {
  margin: 10px;
  font-size: 20px;
}

.ichatbot-header a {
  text-decoration: none;
}

.ichatbot {
  border: 1px solid #b0b0b0;
  font-weight: 600;
  bottom: 5px;
  display: none;
  position: fixed;
  right: 30px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10px;
}

.ichatbot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ichatbot-chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ichatbot-messages {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
  width: 100%;
  /* background-color: rgb(232, 238, 238); */
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
}

.ichatbot-messages::-webkit-scrollbar {
  display: none;
}

.ichatbot-message-template {
  padding: 5px;
}

.ichatbot-message-template i {
  margin-right: 5px;
}

.ichatbot-message-text {
  font-size: medium;
}

.ichatbot-options {
  clear: both;
}

.ichatbot-options span {
  margin: 5px;
}

.ichatbot-footer {
  width: 100%;
  margin: 0px;
  padding: 0px 10px 10px 10px;
}

.ichatbot-char-count {
  font-size: 10px;
  font-weight: bold;
}

.ichatbot-message-error {
  box-shadow: 0 0 1px 0.07rem rgb(255, 0, 0) !important;
}

.disabled-options {
  opacity: 0.4;
  pointer-events: none;
}

​​​​​ .pad-right-5px {
  padding-right: 5px;
}

.mar-right-5px {
  margin-right: 5px;
}

.font-bold-true {
  font-weight: bold;
}

.popup-button-CSS {
  position: fixed;
  bottom: 40px;
  right: 40px;
}