body {
  font-family: 'Open Sans', sans-serif;
}

.chat-floating-icon {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.chat-box-show {
  display: block !important;
}

.chat-box-header {
  margin: 10px;
  font-size: 20px;
}

.chat-box {
  background-color: #ffffff;
  border: 1px solid #b0b0b0;
  bottom: 5px;
  display: none;
  height: 510px;
  position: fixed;
    right: 30px;
    width: 400px;
  font-family: 'Open Sans', sans-serif;
}

.chat-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box-chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-box-messages {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
  width: 100%;
  background-color: rgb(232, 238, 238);
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
}

.chat-box-messages::-webkit-scrollbar {
  display: none;
}

.chat-box-message-template {
  padding: 5px;
}

.chat-box-message-template i {
  margin-right: 5px;
}

.chat-box-message-text {
  font-size: medium;
}

.chat-box-options {
  clear: both;
}

.chat-box-options span {
  margin: 5px;
}

.chat-box-footer {
  width: 100%;
  margin: 0px;
  padding: 0px 10px 10px 10px;
}

.chat-box-char-count {
  font-size: 10px;
  font-weight: bold;
}

.chat-box-message-error {
  box-shadow: 0 0 1px 0.07rem rgb(255, 0, 0) !important;
}

.disabled-options {
   opacity: 0.4; 
   pointer-events: none;
}

​​​​​ .pad-right-5px {
  padding-right: 5px;
}

.rightMarginText{
  margin-right: 5px;
}

.fontBoldForText{
  font-weight: bold;
}

.popAdjustingCSS {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.imageAdjust{
  height: 50px;
  width: 48px;
}