body
{
    font-family: 'Open Sans', sans-serif;
}
    
.chat-floating-icon{
	position:fixed;
	bottom:40px;
	right:40px;
}

.chat-box-show {
  display: block !important;
}

.chat-box-header{
margin: 10px;
font-size: 20px;
}

.chat-box {
    background-color: #ffffff;
    border: 1px solid #b0b0b0;
    bottom: 5px;
    display: none;
    height: 490px;
    position: fixed;
    right: 30px;
    width: 400px;
    font-family: 'Open Sans', sans-serif;
}

.chat-box-container {
	display: flex;
  justify-content: center;
	align-items: center;
}

.chat-box-chat {
	height: 400px;
	width: 50vw;
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
} 

.chat-box-messages {
	display: flex;
	flex-direction: column;
  overflow: scroll;
	height: 90%;
	width: 100%;
	background-color: rgb(232, 238, 238);
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
}

.chat-box-messages::-webkit-scrollbar {
    display: none;
}

.chat-box-footer {
  width: 100%;
  margin: 0px;
  padding: 0px 10px 10px 10px;
}